body {
    max-width: 100vw;
    margin: auto;
    background: #e5e5e5;
  }
  
  header {
    width: 100vw;
    height: 92px;
    position: fixed;
    z-index: 10;
    background: #cf2b2b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 0;
  }
  
  header h1 {
    width: 248px;
    height: 44px;
    font-weight: 400;
    font-size: 44px;
    color: #ffffff;
    font-family: Righteous;
    letter-spacing: -0.012em;
    line-height: 55px;
    margin: 8px 145px 5px 21px;
  }
  
  header p {
    width: 226px;
    height: 17px;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    font-family: Roboto;
    margin: 0px 167px 18px 21px;
  }
  
  .conteudo {
    margin: 92px 0 92px 19px;
  }
  
  .conteudo h2 {
    width: 100%;
    height: 25px;
    font-family: Righteous;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin: 0px 145px 17px 0px;
    padding-top: 31px;
  }
  
  /* pratos */
  
  .pratos,
  .bebidas,
  .sobremesas {
    display: flex;
    overflow-x: scroll;
  }
  
  .prato,
  .bebida,
  .sobremesa {
    width: 172px;
    height: 216px;
    background: #ffffff;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin: 17px 16px 27px 14px;
    position: relative;
  }
  
  .selecionado {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25),
      inset 0px 0px 0px 5px #32b72f;
    border-radius: 9px;
  }
  
  .prato img,
  .bebida img,
  .sobremesa img {
    width: 144px;
    height: 87px;
    margin: 18px 14px 8px 14px;
    border-radius: 4px;
  }
  
  .prato p:nth-child(2),
  .bebida p:nth-child(2),
  .sobremesa p:nth-child(2) {
    width: 139px;
    height: 23px;
    font-family: "roboto", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #333333;
    margin: 0 18px 4px 14px;
  }
  
  .prato p:nth-child(3),
  .bebida p:nth-child(3),
  .sobremesa p:nth-child(3) {
    width: 147px;
    height: 39px;
    font-family: "roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #a6a6a6;
    margin: 0 11px 5px 14px;
  }
  
  .prato p:nth-child(4),
  .bebida p:nth-child(4),
  .sobremesa p:nth-child(4) {
    width: 66px;
    height: 19px;
    margin: 0 92px 13px 14px;
    font-family: "roboto", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 92px;
    background: #ffffff;
    display: flex;
    justify-content: center;
  }
  
  .botao-desativado {
    width: 364px;
    height: 61px;
    background: #cbcbcb;
    border-radius: 50px;
    margin: 15px 5vw;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #ffffff;
    font-weight: 400;
  }

  .botao-ativado {
    width: 364px;
    height: 61px;
    background: #32B72F;;
    border-radius: 50px;
    margin: 15px 5vw;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #ffffff;
    font-weight: 700;
  }

  

  ion-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #32B72F;
  }

  .escondido {
      display:none;
  }

  .ativa {
      display:inline;
  }

  .desativar-link {
      pointer-events: none;
  }